body {
  margin: 0;

}

.navbar-custom {
  background: #0b12209d;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-nav .nav-link {
  color: #cbd5e1;
  font-size: 14px;
  margin: 0 6px;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #ffffff;
}

.search-box {
  background: #020617;
  border-radius: 25px;
  padding: 6px 15px;
  width: 240px;
  color: #94a3b8;
  border: none;
  outline: none;
  font-size: 13px;
}

.login-btn {
  background: #cd5e0fd7;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 12px;
  padding: 6px 16px;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}
.navbar-menue{
  margin-right: 170px;
}

.login-btn:hover {
  background: #803d0dd7;
  color: #ffffff;
  transition: 0.3s ease;
}

.dropdown-toggle::after {
  margin-right: 6px;
}
/* mmmmmmmmmmmmm */
.bg-orange{
  background-color: #393939;
  opacity: 0.9;
}

.img2{
    width: 100%;
  
    height:600px;
    background-repeat: no-repeat;
    background-size: contain; 
}

.h4-title{
font-size: xx-large;
font-weight: bolder;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  direction: rtl;
 
}

.cafix-section {
  background: linear-gradient(90deg, #f57c00, #292741);
  border-radius: 50px;
 margin-top: 120px;
 padding-top: 40px;
 
}

.h3-title {
  color: #ffffff;
 
 margin-right: 30px;
 font-family: sans-serif;
 margin-top: -20px;



}

.btn-about {
  background: #302f57;
  margin-left: 10px;
  color: #fff;
  
  padding: 8px 22px;
  border-radius: 25px;
  font-weight: bolder;
  margin-top: -20px;
}

.btn-about:hover {
  background: #525282a4;
  color: #ffffff;
  transition: 0.5s ease;
}

.cafix-card {
  background: #f6f3ee;
  width: 265px;
  margin-top: 10px;
  
  min-height: 190px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 12px 25px rgba(0,0,0,0.18);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cafix-card h6 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.cafix-card p {
  margin-top: 20px;
  font-size: 18px;
  color: #444;
}


.p2{
    direction: rtl;
    margin-right:25px;
   margin-top: -300px;
    color: rgb(61, 61, 61);
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: bolder;
}
.back2{
    background-color: rgb(50, 46, 101);
    width: 100%;
    height: 20px;
    float: right;
   margin-bottom: 20px;
}



 body {
    font-family: sans-serif;
   
    justify-content: center;
    align-items: center;
    height: 100vh;

    
  }

  .search-container {
    position: relative;
  }



  .search-input.active {
    width: 150px;
    opacity: 1;
  }

  .search-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 70%;
    background-color: rgba(255, 139, 45, 0.941);
    color: white;
    font-size: 20px;
    cursor: pointer;
    
   margin-right: 165px;
    transition: background-color 0.3s ease;
  }

  .search-button:hover {
    background-color: #eb7125da;
  }
.about:hover{
    background-color: rgba(137, 104, 73, 0.991);
   transition: 0.4s ease;
}


body {
  font-family: 'Vazirmatn', sans-serif;
 
}

/* Yellow box */
.all-courses-box {
  background: linear-gradient(180deg, #2b264bdc, #ff841f);
  border-radius: 30px;
  color: #000;
}

.all-courses-box h2 {
  color: #ffffff;
  text-align: center;
  line-height: 1.4;
}

.all-courses-box .arrow {
  font-size: 28px;
  background: rgba(0,0,0,0.1);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Course card */
.course-card {
  background-color: #eef0f3;
  border-radius: 30px;
  overflow: hidden;
}

/* Price */
.price {
  font-weight: bold;
}

/* Info list */
.course-info li {
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
}

/* Image section */
.course-image {
  position: relative;
  background-color: #000;
}

.course-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text on image */
.image-overlay {
  position: absolute;
  top: 30px;
  right: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  background: rgba(255, 255, 255, 0.098);
  padding: 8px 16px;
  border-radius: 20px;
}
/* faseleh */

body{
  font-family: sans-serif;

}
/* مقالات آموزشی */
.section-title{
text-align: center;
margin: 60px 0 10px;
color: #000;
font-size: 30px;
font-weight: 700px;
font-size: xx-large;
font-weight: bolder;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-subtitle{
  font-size: 13px;
  text-align: center;
  color: #4b4b4b;
  margin-bottom: 70px;
}
.article-card{
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 230px;
  cursor: pointer;
 
}
.article-image{
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.article-image img{
  transition: transform 0.5s ease;
}

.article-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.55);

}
.article-card:hover .article-image img{
  transform: scale(1.1)
}
.article-content{
  position: absolute;
  inset: 0;
  padding: 20px;
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.badge-custom{
  background-color: #ff6f005b;
  width: fit-content;
  font-size: 13px;
  padding: 6px 12px;
  border-radius: 8px;
}
.article-title{
 
  font-size: 20px;
  font-weight: 600;
  line-height: 5.5;
}
.read-more{
 
  color: #e56f00;
  font-size: 20px;
  text-decoration: none;
  opacity: 0.9;
}
.read-more:hover{
  opacity: 1;
  text-decoration: underline;
}




/* faseleh */



body {
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.faq-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #7e3900e3;
  font-weight: bold;
  margin-bottom: 30px;
}

.faq-item {
  background: #eaeaea;
  border-radius: 14px;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
  margin-bottom: 15px;
  overflow: hidden;
}

.faq-button {
  background: transparent;
  border: none;
  width: 100%;
  padding: 18px 20px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  color: #333;
}

.faq-button:focus {
  box-shadow: none;
}

.faq-icon {
  transition: transform 0.3s ease;
}

.faq-button[aria-expanded="true"] .faq-icon {
  transform: rotate(180deg);
}

.faq-answer {
  background: #fff;
  padding: 18px 20px;
  border-top: 1px solid #eee;
  font-size: 15px;
  color: #555;
}
.faq-button:hover,
.faq-button:focus,
.faq-button:active {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}

/* vvvvvvvvvvvvvvvvvvvvvvvvvv */

body {
  font-family: 'Vazirmatn', sans-serif;
  
}

.contact-box {
  background: #b3b3b375;
  border-radius: 40px;
  padding: 40px 50px;
 
}

.contact-title {
  font-weight: 600;
  font-size: 20px;
  color: #1f2a37;
 margin-left: 60px;
 margin-bottom: 70px;

}

.contact-de p {
 text-align: right;
  font-size: 14px;
  color: #6b7280;
  margin-top: -50px;
 
}

.form-control {
  background-color: #efece9;
  border: none;
  border-radius: 12px;
  height: 35px;
  font-size: 14px;
 
}
.div-control{

width: 580px;
}

.btn-send {
  background-color: #a86200a6;
  color: #fff;
  border-radius: 20px;
  padding: 3px 22px;
  border: none;
  width: 200px;
  margin-right: 280px;
  height: 45px;
  margin-bottom: 10px;
 
}

.btn-send:hover {
  background-color: #755832;
  color: #fff;
  transition: 0.5s ease;
}

.btn-call {
  background: linear-gradient(135deg,#a86200a6, #111827);
  width: 200px;
  height: 45px;
  margin-left: 250px;
  color: #fff;
border-radius: 20px;
  padding: 3px 26px;
  border: none;
  font-size: 14px;
margin-top: 50px;
transition: opacity 0.5s ease;
}
.btn-call:hover{
  background: linear-gradient(135deg,#a86200a6);
  color: white;
opacity: 0.7;
}
/* cow */

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* عکس پس‌زمینه */
.hero img.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* محتوا روی عکس */
.hero-content {
  position: relative;
  z-index: 2;
  width: 100%;
}

/* ویدئو سمت چپ */
.video-wrapper video {
  
 height: 400px;
  border-radius: 16px;
  box-shadow: 0 12px 35px rgba(0,0,0,.4);
}

.video-bg{
 width: 100%;
 object-fit: cover;
margin-top: 70px;
}

/* متن سمت راست */
.hero-text {



  color: #fff;
}
.title-hh3{
  color: white;
  margin-left: 85px;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.start-mbtn{
margin-left: 200px;
background-color: #5169a4d7;
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.start-mbtn:hover{
color: white;
  background-color: #e37f23e2;
  transition: 0.5s ease;
  }

@media (max-width: 991px) {
  /* موبایل: ویدئو بالا، متن پایین */
  .hero-content .row {
    flex-direction: column;
    text-align: center;
  }
  .hero-text {
    margin-top: 100px;
   
  }
  .title-hh3{
   text-align: center;
   margin-right: 90px;
  }
  .video-wrapper video {
    max-width: 100%;
  margin-top: -10px;
  }
}
 /* footer */
 body {
  direction: rtl;
}

.site-footer {
  background: radial-gradient(circle at top, #2a2a2a, #0f0f0f);
  font-size: 14px;
}

.footer-title {
  color: #d4af37;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #ddd;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #d4af37;
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.footer-contact i {
  background: #d4af37;
  color: #000;
  padding: 8px;
  border-radius: 50%;
  font-size: 14px;
}

.footer-logo {
  margin-top: -50px;
  max-width: 150px;
  margin-left: 90px;
}

.footer-desc {
  color: #ccc;
  line-height: 1.9;
  font-size: 13px;
  text-align: right;
 margin-right: -30px;
}

.trust img {
  max-width: 120px;
}

.stars {
  color: #d4af37;
  font-size: 18px;
}




